html {
  // overflow-y: auto; // ress.css • v2.0.4 sets overflow-y: scroll
  overflow: hidden;
}

#v-main {
  overflow-y: auto;
  overflow-x: auto;
  height: 100vh;
  flex: 1 1 auto;
}

.container {
  padding: 0;
}

.v-toolbar--prominent {
  font-size: 1rem !important;
}

.v-app-bar.v-toolbar {
  .v-toolbar__content {
    padding: 1rem;
  }
}

.contextButton {
  color: #999999 !important;
  cursor: pointer;

  &:hover {
    color: #333333 !important;
  }
}

.v-application {
  .text-strike {
    color: inherit;
    text-decoration: line-through;
  }
}

.theme--light.v-btn.a-btn-standard {
  background-color: #E9E9E9;

  &:not(:hover) {
    background-color: #EEEEEE !important;
    border-color: #EEEEEE !important;
  }

  span,
  .v-icon {
    color: grey !important;
  }

  &:hover {
    span,
    .v-icon {
      &.white--hover {
        color: white !important;
      }
    }
  }
}

.theme--light.v-btn.v-btn--has-bg {
  background-color: #E9E9E9;
}

.theme--light.v-btn:focus::before {
  opacity: .08;
}

.theme--light.v-input .error--text {
  color: #616161 !important;
}

.theme--light.v-btn.v-btn--disabled,
.theme--light.v-btn.v-btn--disabled span,
.theme--light.v-btn.v-btn--disabled .v-icon,
.theme--light.v-btn.v-btn--disabled .v-btn__loading {
  color: white !important;
}

.theme--light.v-btn:focus-visible {
  outline: 2px solid #1976D2;
}

.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: #EEEEEE !important;
}

.v-btn {
  box-shadow: none !important;
}

@for $i from 1 through 16 {
  .gap-#{$i} {
    gap: 4px * $i;
  }

  .h-gap-#{$i} {
    column-gap: 4px * $i;
  }

  .v-gap-#{$i} {
    row-gap: 4px * $i;
  }
}
