.container {
  padding: 0;
}

.v-toolbar--prominent {
  font-size: 1rem !important;
}

.v-app-bar.v-toolbar {
  .v-toolbar__content {
    padding: 1rem;
  }
}

.contextButton {
  color: #AAAAAA !important;
  cursor: pointer;

  &:hover {
    color: #333333 !important;
  }
}

.v-application {
  .text-strike {
    color: inherit;
    text-decoration: line-through;
  }
}

.theme--light.v-btn.a-btn-standard {
  background-color: #E9E9E9;

  &:not(:hover) {
    background-color: #EEEEEE !important;
    border-color: #EEEEEE !important;
  }

  span,
  .v-icon {
    color: grey !important;
  }

  &:hover {
    span,
    .v-icon {
      &.white--hover {
        color: white !important;
      }
    }
  }
}

.theme--light.v-btn.v-btn--has-bg {
  background-color: #E9E9E9;
}

.theme--light.v-btn:focus::before {
  opacity: .08;
}

.theme--light.v-btn.v-btn--disabled,
.theme--light.v-btn.v-btn--disabled span,
.theme--light.v-btn.v-btn--disabled .v-icon,
.theme--light.v-btn.v-btn--disabled .v-btn__loading {
  color: white !important;
}

.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: #EEEEEE !important;
}

.v-btn {
  box-shadow: none !important;
}

// @for $i from 1 through 10 {
//   .gap-{$i} {
//     gap: 0.25rem * $i;
//   }
// }

.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 12px;
}

.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}

.gap-6 {
  gap: 24px;
}

.gap-7 {
  gap: 28px;
}

.gap-8 {
  gap: 32px;
}

.gap-9 {
  gap: 36px;
}

.gap-10 {
  gap: 40px;
}

.h-gap-0 {
  column-gap: 0;
}

.h-gap-1 {
  column-gap: 4px;
}

.h-gap-2 {
  column-gap: 8px;
}

.h-gap-3 {
  column-gap: 12px;
}

.h-gap-4 {
  column-gap: 16px;
}

.h-gap-5 {
  column-gap: 20px;
}

.h-gap-6 {
  column-gap: 24px;
}

.h-gap-7 {
  column-gap: 28px;
}

.h-gap-8 {
  column-gap: 32px;
}

.h-gap-9 {
  column-gap: 36px;
}

.h-gap-10 {
  column-gap: 40px;
}

.v-gap-0 {
  row-gap: 0;
}

.v-gap-1 {
  row-gap: 4px;
}

.v-gap-2 {
  row-gap: 8px;
}

.v-gap-3 {
  row-gap: 12px;
}

.v-gap-4 {
  row-gap: 16px;
}

.v-gap-5 {
  row-gap: 20px;
}

.v-gap-6 {
  row-gap: 24px;
}

.v-gap-7 {
  row-gap: 28px;
}

.v-gap-8 {
  row-gap: 32px;
}

.v-gap-9 {
  row-gap: 36px;
}

.v-gap-10 {
  row-gap: 40px;
}
